<strong>Fala, {{ host }}!</strong>
<p>Uma pessoa acaba de confirmar participação no seu meetup, olha só:</p>
<p>
  <strong>Nome: </strong> {{ fullname }} <br />
  <strong>Email: </strong> {{ email }} <br />
  <strong>Meetup: </strong> {{ meetup }} <br />
  <br />
  <p>Fica atento que sempre que uma pessoa nova confirmar a participação, nós te enviaremos um email</p>
</p>